### Java ###

.idea
*.iml
/bin/
.classpath
.project
out
.metadata


# Compiled class file
*.class

# Log file
*.log
.settings
.project
/bin

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar